@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, LazZiya.TagHelpers
@using Mohajer.Useful.Static
@using Mohajer.Service.User.Dto
@model UserForAdminServiceListDto
@{
    ViewData["Title"] = "ManegeUser";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section Styles {

    <link href="~/W3/W3.CSS" rel="stylesheet" />
    <!-- DataTables -->
    <link href="~/PersianAdminLTE-master/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/PersianAdminLTE-master/plugins/datatables/jquery.dataTables.css" rel="stylesheet" />
}
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h2>
                    <a asp-action="Register"><span class="w3-btn w3-round w3-animate-bottom w3-khaki w3-margin-right font_W_koodak">@StaticTable.InsertUser  </span></a>
                </h2>
                <div class="card-header">
                    <h3 class="card-title font_W_koodak">@StaticTable.tableUsers</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive-sm">
                    <table id="TableProduct" class="table">
                        <thead class="thead-dark">
                            <tr class="center-block" style="text-align:center;" align="center">
                                <th class="w-25 center-block">@Html.DisplayNameFor(model => Model.userShows[0].Image)</th>
                                <th class="w-15 center-block">@Html.DisplayNameFor(model => Model.userShows[0].First_Name) &nbsp;@Html.DisplayNameFor(model => Model.userShows[0].Last_Name)</th>
                                <th class="w-25 center-block">@Html.DisplayNameFor(model => Model.userShows[0].Email)</th>
                                <th class="w-10 center-block">@Html.DisplayNameFor(model => Model.userShows[0].Role)</th>
                                <th class="w-25 center-block">عملیات</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.userShows)
                            {
                                <tr style="text-align: center; vertical-align: middle;" class="">
                                    <td class="">
                                        <img src="@item.Image" class="w3-circle" style="width: 200px;height: 200px;display: inline-block;
">
                                    </td>
                                    <td class="">@item.First_Name &nbsp;@item.Last_Name</td>
                                    <td class="">@Html.Raw(item.Email)</td>
                                    <td class="">@Html.Raw(item.Role)</td>

                                    <td class="">
                                        @if (item.IsActive)
                                        {
                                            <a asp-action="ChangeStatusNazar" asp-route-Id="@item.Id">    <span class="w3-btn w3-round w3-green">فعال</span></a>
                                        }
                                        else
                                        {
                                            <a asp-action="ChangeStatusUser" asp-route-Id="@item.Id">   <span class="w3-btn w3-round w3-red">غیر فعال</span></a>
                                        }
                                        |
                                        <a asp-action="EditeUser" asp-route-Id="@item.Id"> <span class="w3-btn w3-round w3-lime">ویرایش</span></a>
                                        |
                                        <a asp-action="DeleteUser" asp-route-Id="@item.Id"> <span class="w3-btn w3-round w3-cyan">حذف</span></a>
                                    </td>
                                </tr>
                            }



                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
@if (Model.PagerDto != null)
{
    <paging page-no="@Model.PagerDto.PageNo"
            page-size="@Model.PagerDto.PageSize"
            total-records="@Model.PagerDto.TotalRecords"
            show-prev-next="true"
            show-total-pages="true"
            show-total-records="true"
            show-page-size-nav="true"
            show-first-numbered-page="true"
            show-last-numbered-page="true"
            query-string-key-page-no="PageNo"
            query-string-key-page-size="PageSize"
            text-total-pages="صفحه"
            text-total-records="رکورد"
            text-first="&laquo;"
            text-last="&raquo;"
            text-previous="&lsaquo;"
            text-next="&rsaquo;"
            sr-text-first="اولین"
            sr-text-last="آخرین"
            sr-text-previous="قبلی"
            sr-text-next="بعدی"
            gap-size="2">
    </paging>
}
@section Scripts {

    <!-- DataTables -->

    <script src="~/PersianAdminLTE-master/plugins/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/PersianAdminLTE-master/plugins/datatables/jquery.dataTables.js"></script>
    TableProduct
    <script>
        $(function () {
            $("#example").DataTable({
                "language": {
                    "paginate": {
                        "next": "بعدی",
                        "previous": "قبلی"
                    }
                },
                "info": false,
                "bPaginate": false,
                "paging": false,
                "searching": false,
            });
        });
    </script>
}


